.container {
  background-image: url(images/background.jpg);
  color: white;
  min-width: 900px;
  max-width: 1200px;
  width: 65%;
  margin: auto;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 70px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.form {
  box-shadow: 1px 1px 15px 5px black;
  width: 90%;
  margin: auto;
  padding: 15px 35px;
}

.inputForm {
  margin-top: 30px;
}

.inputForm div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px;
  width: 100%;
}

.inputForm label {
  width: 26%;
}

.inputForm div input,
.inputForm div select,
.inputForm div textarea {
  margin-left: 10px;
  width: 100%;
  padding: 5px;
  text-indent: 5px;
}

input::placeholder {
  color: gray;
}

select {
  background-color: white;
}

hr {
  color: white;
}

#button {
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border: 2px solid white;
  border-top: 3px solid white;
  background-color: inherit;
  font-weight: bold;
  padding: 7px;
}
